/*----base reset---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html {
  font-size: calc(16px );
  scroll-behavior: smooth;
}
body {
  /*background-image: linear-gradient(35deg, #050c17 ,#161a22, #2f486e);
background-attachment: fixed;*/
  position: relative;
  height: 100%;
}

/*global use classes */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#header {
  width: 100vw;
  background-color: transparent;
  color: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: 0.2s;
}
#title {
  width: 100%;
  height: 50px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#title>h1 {
  width: 70%;
  font-size: calc(1.3rem + 1%);
  text-align: left;
  border: 0px solid;

}
.menu-icon {
  border-radius: 4px;
  font-size: 1.4rem;
  padding: 7px 9px;
  margin: 0 0.7rem;
}
.menu-icon:hover, .close-nav-icon:hover {
  outline: 2px solid #92c3fc;
}
#nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list,.side-nav-list {
  display: flex;
  align-items: center;
}

.nav-list .nav-item {
  font-size: 0.67rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 10px;
  border: 0px solid #fff;
  transition: 0.2s;
  border-radius: 5px;
}
.nav-item:hover {
  outline: 2px solid #92c3fc;
  transform: scale(1.1);
}

/*-----side nav  and menu---*/
#side-nav {
  width: 16rem;
  height: 100vh;
  margin-left: 16rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  z-index: 5;
  transition: margin 0.3s ease;
}
.side-nav-list {
  margin-top: 1rem;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.side-nav-item {
  text-decoration: none;
  width: 100%;
  padding: 1rem 0 1rem 2rem;
  border-radius:0 50px 50px 0;
}
.side-nav-item:hover {
  background-color: #d8ecff;
}
.side-nav-item>li {
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  color: #435b71;
}
#side-nav>h3 {
  color: #54a0fa;
  margin: 2rem 1rem;
}
.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 1;
  animation: on 0.3s ease 1;
  transition: 1s;
  backdrop-filter: blur(0px);
}
/****-----hero section------****/
#hero-section {
  background-image: url('gridBpng'), radial-gradient(#0d2b57,#161a22);
  color: #fff;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-size: cover;
}
#hero-section h1 {
  font-size: calc(2rem + 1vw);
  padding: 0.5rem;
  border-radius: 0px;
  border: 0px solid #000167;
  z-index: 2;
  animation: slideRight 1s ease 1;
}
/*Hey I'm*/
#hero-section h3 {
  margin: 0.3rem 0.5rem;
  text-align: left;
}
#hero-section #about {
  background-color: rgba(200,200,230, 0.1);
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-align: center;
  margin: 1rem;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #5fa1fa;
  position: relative;
  animation: slideLeft 1s ease 1;
}

#circle-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: -1;
}
.action-btn {
  background-color: #137efb;
  color: #fff;
  width: 10rem;
  font-weight: 600;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.2s;
}
.action-btn>a {
  color: #fff;
  text-decoration: none;
}
.action-btn:hover {
  outline: 5px solid rgba(165,210,249,0.805);
  transform: scale(0.98);
}

.circle1 {
  margin-top: -2rem;
  width: calc(200px + 2vw);
  height: calc(200px + 2vw);
  border-width: 1.6rem;
  border-style: solid;
  border-color: red transparent red red;
}
.circle2 {
  margin-top: 10rem;
  width: calc(150px + 2vw);
  height: calc(150px + 2vw);
  border-width: 1rem;
  border-style: solid;
  border-color: #1187e5 #1187e5 transparent #1187e5;
}
.circle3 {
  width: calc(100px + 2vw);
  height: calc(100px + 2vw);
  border-width: 1.6rem;
  border-style: solid;
  border-color: #efc811 #efc811 #efc811 transparent;
}
.circle4 {
  width: calc(200px + 2vw);
  height: calc(200px + 2vw);
  border-width: 1.6rem;
  border-style: solid;
  border-color: transparent #01a72b #01a72b #01a72b;
}

/*-----AboutMeContent-----*/
#about-me-section {
  background-image: url(banner.png);
  background-color: #ffe18e;
  background-position: center;
}
#about-me-section>h2 {
  text-align: center;
  border: 1px solid #0278e8;
  border-radius: 5px;
}
.about-me-content {
  max-width: 45rem;
  height: 100%;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: rgba(210,236,255,0.5);
  color: #003b69;
  border: 1px solid #003b69;
  overflow: hidden;
  transition: 0.3s;
}
.about-me-content:hover {}
/*profile picture contains img tag */
.profile-picture {
  width: 6rem;
  height: 6rem;
  background-color:;
  border-radius: 50%;
  margin: 1rem auto;
  overflow: hidden;
  border: 2px solid #003b69;
  background-color: #fff;
}
.profile-picture img {
  width: 100%;
  height: 100%;
}
.name-and-headline {
  max-width: 400px;
  text-align: center;
  font-family: "Inter";
}
.name-and-headline .name {
  width: 100%;
}
.name-and-headline .headline {
  font-size: 0.8rem;
  padding: 5px 0;
  color: #003b69;
}
.about-me-content .links {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.about-me-content .links span {
  margin-right: 1rem;
}
.connect {
  font-size: 11px;
  border: 1px solid #005fa9;
  color: #005fa9;
  padding: 5px 8px;
  border-radius: 20px;
  position: relative;
}
.connect .tool-tip {
  width: 100px;
  font-size: 0.6rem;
  background-color: rgba(6,19,29,0.5);
  color: white;
  padding: 3px;
  position: absolute;
  bottom: -100%;
  right: -35%;
  border-radius: 5px;
  opacity: 0;
  transition: 0.2s;
}
.connect .tool-tip::after {
  content: "";
  position: absolute;
  top: -50.1%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(6,19,29,0.5) transparent;
}
.connect:hover .tool-tip {
  opacity: 1;
}
.about-me-content .about {
  margin-top: 2rem;
}
.about-me-content .about * {
  margin: 1rem;
}
.about-me-content .about p {
  font-size: 0.7rem;
  font-family: "Poppins";
}
section {
  width: 100vw;
  padding: 4rem 1rem;
  background-color: #fff;
  z-index: 3;
  overflow: hidden;
}
section>h2 {
  margin: auto;
  text-align: center;
  max-width: 15rem;
}
/*---Skills section---*/
#skills-section {
  width: 100vw;
  min-height: 30vh;
  background-color: rgba(5,202,23,0.1);
  border-radius: 0px;
  margin: auto;
}
#skills-container {
  max-width: 65rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#skills-section .skill {
  width: 20rem;
  padding: 1rem;
  font-weight: 600;
}
.skill .name {
  color: rgb(0,125,14);
  font-family: 'Source Code Pro';
}
.level-wrapper {
  width: 100%;
  height: 0.5rem;
  background-color: #eaeaea;
  border-radius: 20px;
  overflow-x: hidden;
  margin-top: 0.5rem;
}
.level-wrapper .level {
  background-image: linear-gradient(-90deg, #029d26, #98f72d);
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  font-size: 0.35rem;
  text-align: center;
  transition: 0.5s ease;
}
/*---Project section ---*/
#projects-section {
  background-color: rgba(179,217,255,0.5);
}
#projects-section>h2 {
  background-color: #0278e8;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  max-width: 29rem;
}
#projects-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.project-item {
  background-color: #fff;
  color: #000;
  text-align: center;
  width: 400px;
  min-height: 250px;
  box-shadow: 0 0 10px #cccccc;
  border-radius: 10px;
  margin: 1.5rem;
  padding: 0rem;
  transition: 0.3s ease;
}
.project-item:hover{
  transform: scale(1.05);
}
.project-item .img-container {
  width: 100%;
  height: 80%;
  background-color: #afafaf;
  border-radius: 10px;
  overflow: hidden;
}
.project-item .project-img {
  width: 100%;
  height: 100%;
}
.project-item .view-project{
  color: #6096eb;
  margin-left:0.4rem;
}
.project-item h3{
  font-size: calc(0.6rem + 10%);
}
.text-gradient {
  background-image: linear-gradient(45deg,#066dbc,#f54dfe);
  background-size: 90%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
/*-----ContactSection---*/
#contact {
  width: 100%;
  min-height: 40vh;
  background-color: #fff;
  overflow: hidden;
  color: #050c17;
}
#contact .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
/*contact tag-linetag--*/
#tag-line {
  max-width: 25rem;
  background-image: linear-gradient(45deg,#fdce1d,#d70b73,#0214bb);
  background-size: 100%;
  font-weight: bold;
}
#tag-line h2 {
  font-size: 3rem;
  text-align: left;
  margin: auto;
}
/*-- contact form---*/
#form-container {
  max-width: 30rem;
}
#contact-form {
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 0 8px #d8d8d8;
}
#contact-form input, textarea {
  width: 100%;
  border: 1px solid black;
  margin: 1rem 0;
  padding: 0.8rem;
  font-size: 0.8rem;
  border-radius: 10px;
}
#contact-form #submit-btn {
  width: 100%;
  margin: 1rem 0;
  padding: 0.7rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #4ea8fe;
  box-shadow: 0 0 8px #d8d8d8;
  transition: 0.1s;
}
#submit-btn:hover {
  outline: 4px solid #aad7fe;
}
/*---footer---*/
#footer {
  width: 100vw;
  min-height:;
  padding: 2rem;
  background-color: #0f1a2b;
  overflow:;
  position: absolute;
  bottom: 0;
  color: #ebf3fd;
  text-align: center;
}
#footer p{
  font-size: 0.8rem;
  font-family: 'Source Code Pro'!important;

}
#footer>.footer-links {
  max-width: 25rem;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-icon {
  font-size: 1.4rem;
  color: #ebf3fd;
}



/** animation classes*/
.slideRight {
  animation: slideRight 0.5s ease 1;
}
.slideUp {
  animation: slideUp 0.7s ease 1;
}
.shiftLeft {
  transition: 0.5s;
  transform: translateX(70%);
  opacity: 0;
}
.shiftDown {
  transition: 0.3s;
  transform: translateY(70%);
  opacity: 0;
}



/*___Share Panel___*/

#share-panel {
  background-color: #fff;
  max-width: 30rem;
  width:100%;
  min-height: 10rem;
  position: fixed;
  bottom:0;
  border-radius: 20px 20px 0 0;
  padding:1rem;
  z-index: 5;
}
#share-panel .share-icon{
  font-size: 1.4rem;
  padding: 0.2rem;
  margin:0.3rem;
  color:#2f363c;
}