/*----base reset---*/
* {
  margin: 0;
  padding: 0;
  border: 0px solid #04ec4f;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
/**header**/
#header {
  width: 100vw;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
#title {
  width: 100%;
  height: 50px;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#title>h1 {
  width: 90%;
  font-size: 1.3rem;
  margin-right: 4rem;
  text-align: center;
}
.menu-icon {
  font-size: 1.4rem;
  padding: 10px;
  margin-right: 1rem;
}
#navbar {
  width: 100vw;
  height: auto;
  background-color: #2694f5;
  box-shadow: 0 5px 10px #a7aeb5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list {
  list-style-type: none;
  display: flex;
}
.nav-list>li {
  display: flex;
  /*align-items:center;*/
}
.nav-list li>a {
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
}
.nav-list li>a:hover {
  color: #3a3a45;
  border: 2px solid #000167;
  background-color: #fff;
}
/****-----hero section------****/
#hero-section {
  background-color: #f1f1f1;
  position: relative;
  width: 100vw;
  height: calc(100vh + 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1;
  /*background-image: url('/images/hero-img.png');
  background-size: cover;
  background-position: center;
  -webkit-filter: drop-shadow(10px 10px 10px #fff); */
}
#hero-section h1 {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #999999;
  background-color: #fff;
  z-index: 3;
  animation: slideRight 1s ease 1;
}
#hero-section p {
  background-color: #fff;
  text-align: center;
  margin: 1rem 0 0 2rem;
  padding: 0.4rem;
  border: 0px solid black;
  box-shadow: 0 0 10px #969696;
  border-radius: 5px;
  position: relative;
  animation: slideLeft 1s ease 1;
}
#hero-section p:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 50vw;
  border:1px solid black;
}
#circle-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index:-1;
}
.circle {
  border-radius: 50%;
  animation: rotate 2s ease 1;
}
.circle1 {
  margin-top: -2rem;
  width: calc(200px + 2vw);
  height: calc(200px + 2vw);
  border-top: 1.6rem solid red;
  border-right: 1.6rem solid transparent;
  border-bottom: 1.6rem solid red;
  border-left: 1.6rem solid red;
}
.circle2 {
  margin-top: 10rem;
  width: calc(150px + 2vw);
  height: calc(150px + 2vw);
  border-top: 1rem solid #1187e5;
  border-right: 1rem solid #1187e5;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid #1187e5;
}
.circle3 {
  width: calc(100px + 2vw);
  height: calc(100px + 2vw);
  border-top: 1.6rem solid #efc811;
  border-right: 1.6rem solid #efc811;
  border-bottom: 1.6rem solid #efc811;
  border-left: 1.6rem solid transparent;
}
.circle4 {
  width: calc(200px + 2vw);
  height: calc(200px + 2vw);
  border-top: 1.6rem solid transparent;
  border-right: 1.6rem solid #01a72b;
  border-bottom: 1.6rem solid #01a72b;
  border-left: 1.6rem solid #01a72b;
}
#about-me-section>h2{
  text-align:center;
}
section {
  width: 100vw;
  height: calc(100vh + 2rem);
  padding:4rem 1rem;
}


/*--- media queries---*/
/*--for small screens---*/
@media(max-width: 460px) {
  #circle-container {
    transform: scale(0.7);
  }
}

/*-----animations----*/
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
20%{
  opacity: 1;
}
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  20%{
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}